h1{
font-family: Vendana, sans-serif;
font-size: 14px;
text-align: center;
}
h2{
font-family: Vendana, sans-serif;
font-size: 8.5px;
text-align: center;
}
.postal{
font-family: Vendana, sans-serif;
font-size: 8.5px;
text-align: center;
}
h3{
font-family: Vendana, sans-serif;
font-size: 8.5px;
font-weight: bold;
}

p{
font-family: Vendana, sans-serif;
font-size: 8.5px;
}

li{
font-family: Vendana, sans-serif;
font-size: 8.5px;
}

.college{
font-family: Vendana, sans-serif;
font-size: 8.5px;
}